*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
    color: #696969;
    height: 100vh; 
    font-size: 62.5%; /* about 10px */ 
}

/* Container */ 

#game-board {
    background-image: url('img/bgGray.png');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 50% 100%; /* 50% horizontal and 100% vertical */ 
    min-width: 100%;
    min-height: 100%;
    border: 1.5vh solid transparent;
    border-image: linear-gradient( rgba(182, 173, 144, 1), rgba(147, 102, 57, 1), rgba(88, 47, 14, 1), rgba(127, 79, 36, 1));
    border-image-slice: 30;
}

h1 {
    display: none;
}

/* Links */

a {
    font-size:2vh;
    color: #696969;
}

a:hover {
    text-decoration: none;
    color: #B1A7A6;
}

.icons {
    width: 2vh;
}

/* Player */ 

h2 {
    font-size: 3vh;
}

.printPlayer {
    width: 100%;
}

/* Red dot displaying the active player */ 

#dotP1, #dotP2 {
    width: 2vh;
    display: none;
}

/* Global score */ 

.globalScore {
    font-size: 6vh;
    font-weight: lighter;
    color: #E5383B;
}

/* Round score */ 

.bg-card {
    background-color: #E5383B;
    border-radius: 0%;
    color: #161A1D;
    width: 7.5rem;
    height: 6rem;
}

h3 {
    font-size: 1.5vh;
    font-weight: bold;
}

#roundScoreP1, #roundScoreP2 {
    font-size: 3vh;
}

#infoWinner {
    font-size: 1rem;
    font-weight: bold;
    color: #BA181B;
}



/* ******************************************************************************* */ 
/*                              Media queries */ 
/* ******************************************************************************* */ 


/* ************  Mobile phones : landscape orientation  ************** */ 

@media only screen and (min-width: 576px) and (orientation: landscape) {

    #firstSection, #secondSection {
        margin: 0 3vh 0 3vh; /* top right bottom left */ 
    }
    a {
        font-size: 4vh; 
    }
    .icons, #dotP1, #dotP2 {
        width: 4vh;
    }
    h2 {
        font-size: 6vh; 
    }
    .globalScore {
        font-size: 14vh;
    }
    .bg-card {
        width: 6.5rem;
        height: 5rem;
        margin-top: 2rem; 
    }
    h3 {
        font-size: 2vh;
    }
    #roundScoreP1, #roundScoreP2{
        font-size: 5vh;
    }
}


/* ******************  Mobile phones and Tablets ******************** */ 

@media screen and (min-width: 700px) and (orientation: landscape) {

    #diceSide { 
        margin-bottom: 1rem; 
    }
    .bg-card {
        width: 8rem;
        height: 6.5rem;
        margin-top: 3.5rem;
    }
}


/* ****************** Tablets, laptops and computer   **************** */ 

@media screen and (min-width: 950px) and (orientation: landscape) { 

    a {
        font-size: 3vh; 
    } 
    #game-board {
        border: 2vh solid transparent;
        border-image: linear-gradient( rgba(182, 173, 144, 1), rgba(147, 102, 57, 1), rgba(88, 47, 14, 1), rgba(127, 79, 36, 1));
        border-image-slice: 30;
    }
    #firstSection, #secondSection {
        margin: 0 5vh 0 5vh; 
    }
    .icons {
        width: 3.5vh;
    }
    #diceSide {
        margin-top: 3rem;
        margin-bottom: 13rem;
    }
    .bg-card {
        width: 9.5rem;
        height: 8rem;
        margin-top: 11rem;
    }
    #infoWinner {
        font-size: 2rem;
    }
}
